<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<section class="msger">
  <header class="msger-header">
    <div class="msger-header-title">
      <i class="fas fa-comment-alt"></i> SimpleChat
    </div>
    <div class="msger-header-options">
      <span><i class="fas fa-cog"></i></span>
    </div>
  </header>

  <main class="msger-chat" id="main">
    
  </main>
  <div id="text">
    <input type="text" id="chat-message-input" class="msger-input" placeholder="Enter your message...">
    <button id="chat-message-submit" type="button" class="msger-send-btn">Send</button>
</div>
</section>
    {{ room_name}}
    <script>
        const roomName = "{{ room_name }}"
        if(!sessionStorage.getItem("username")){
            window.location.pathname = '/chat'
        }
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
            + sessionStorage.getItem("username")
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (sessionStorage.getItem("username") == data.username){
                tclass = "right-msg"
            }else{
                tclass = "left-msg"
            }
              var d = new Date();
            htm = `    <div class="msg ${tclass}">
      <div
       class="msg-img"
       style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
      ></div>

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">${data.username}</div>
          <div class="msg-info-time">${d.getHours()}:${d.getSeconds()}</div>
        </div>

        <div class="msg-text">
          ${data.message}
        </div>
      </div>
    </div>`
            document.querySelector('#main').innerHTML += htm;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>